################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cloud.Translation.v1/.vs/Cloud.Translation.v1
